
.button-88 {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: rgb(21, 0, 255);
  background: #4090ff5d;
  border: none;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-88:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #0026ff98;
}

.button-88:active {
  box-shadow: 0 0.3em 1em -0.5em #0026ff98;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.flex-container-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 10px;
}

.loading-message {
  font-size: 1.5em;
  font-weight: 500;
  color: #0026ff;
}

#document-preview table.editable-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

#document-preview table.editable-table th, #document-preview table.editable-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#document-preview table.editable-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

#document-preview table.editable-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#document-preview table.editable-table tr:nth-child(odd) {
  background-color: #ffffff;
}